*{
    margin: 0;
    padding: 0;
    color: white;
}
.div1{
    height: 60px;
    background-color: black;
}
#Logo{
    background-color: rgb(235, 157, 31);
    font-size: 25px;
}
input{
    background-color: rgb(235, 157, 31);
}
a{
    margin-right: 200px;
}